/* sign-in.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 20%; /* Reduced container width */
  padding: 20px;
  background-color: #2ecc71; /* Green background color */
  border-radius: 10px; /* Slightly increased border radius */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increased box shadow for a subtle effect */
  height: 60vh; /* Reduced container height */
}

.form-title {
  text-align: center;
  margin-bottom: 10px; /* Adjusted margin for better spacing */
  color: #fff; /* White text color */
}

.form-group {
  margin-bottom: 30px; /* Increased margin between fields */
}

.form-container label {
  margin-bottom: 15px; /* Increased space before the email field */
  display: block;
  font-weight: bold;
  color: #fff; /* White text color */
}

.form-container input[type="email"],
.form-container input[type="password"],
.form-container button {
  width: calc(100% - 20px); /* Adjusted width with some space on the sides */
  padding: 8px; /* Adjusted padding for input fields */
  margin-bottom: 30px; /* Increased margin between fields */
  border-radius: 4px; /* Adjusted border radius for input fields */
  border: 1px solid #27ae60; /* Green border color */
  background-color: #fff; /* White background for input fields */
  color: #333; /* Dark text color */
}

.form-container button {
  background-color: #27ae60; /* Green button color */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #218c53; /* Darker green on hover */
}

.form-container p {
  text-align: center;
  margin-top: 10px; /* Adjusted margin for better spacing */
  color: #fff; /* White text color */
}

.form-container a {
  color: #27ae60; /* Green link color */
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}
