.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #2ecc71; /* Green background color */
  padding: 20px;
  border-radius: 10px; /* Slightly increased border radius */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increased box shadow for a subtle effect */
  width: 70%; /* Adjust the width as a percentage of the viewport width */
  max-width: 400px; /* Set a maximum width to prevent it from getting too wide */
  margin: auto; /* Center the form within the container */
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* White text color */
}

.form-group {
  margin-bottom: 15px; /* Reduced margin for better spacing */
}

label {
  display: block;
  font-weight: bold;
  color: #fff; /* White text color */
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  width: 100%; /* Full width for input fields and button */
  padding: 10px; /* Adjusted padding for input fields */
  border-radius: 4px; /* Adjusted border radius for input fields */
  border: 1px solid #27ae60; /* Green border color */
  background-color: #fff; /* White background for input fields */
  color: #333; /* Dark text color */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin-bottom: 10px; /* Added margin to separate form elements */
}

button {
  background-color: #27ae60; /* Green button color */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218c53; /* Darker green on hover */
}

p {
  text-align: center;
  margin-top: 15px;
  color: #fff; /* White text color */
}

a {
  color: #27ae60; /* Green link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
